<a-scene>
  <!-- Scene assets -->
  <a-assets>
    <div id="hello">
      <h2>Welcome!</h2> 
      <p>If this is your first time here, this is an experiment in VR Blogging, and one of the first (maybe THE first?) blogs re-created in VR.</p> 
      <p>To go to any part of the site, just look in the portal. Look to your left or right to see the portals if you haven't already. You can go to the Articles, Book Lessons, or read more about how I made this.</p>
      <p>Once you're in the Lessons or Articles hallway, look at the images or book titles to visit those pages.</p> 
      <p>Again, this is an experiment, and many things are broken. Feel free to let me know on Twitter if you have ideas on how to improve it.</p>
      <p>- Nat (@nateliason)</p>
    </div>
    <%= image_tag("sky1.jpg", :id => "sky") %>
    <%= image_tag("Sand001.jpg", :id => "Sand") %>
    <%= image_tag("BlogPortal.png", :id => "BlogPortal") %>
    <%= image_tag("ArticlesPortal.png", :id => "ArticlesPortal") %>
    <%= image_tag("LessonsPortal.png", :id => "LessonsPortal") %>
  </a-assets>
  
  <!-- Adding a camera that can "click" -->
  <a-entity camera
    universal-controls="movementControls: checkpoint"
    checkpoint-controls="mode: animate"
    position="0 4 0">
    <a-ring radius-outer="0.03" radius-inner="0.02"
      position="0 0 -1"
      material="color: cyan; shader: flat"
      cursor="fuse: true; fuseTimeout: 1000">
    </a-ring>
  </a-entity>
  
  <!-- The room for the links -->
  <a-entity position="0 0 0" name="Walkable Area">
    
    <!-- Sandy bottom -->
    <a-sphere position="0 0 0" scale="1 15 15" name="Floor" material="shader:standard;metalness:0;repeat:5 5;src:#Sand" geometry="primitive:sphere" rotation="0 0 90"></a-sphere>

    <!-- The Welcome message -->
    <a-entity geometry="primitive:box" position="0 3.35 -4" draw="width: 850; height: 1100" scale="3.375 4.5 .1" htmltexture="asset:#hello"></a-entity>
    
    <!-- The Home Portal -->
    <a-entity position="4 3.5 0">
      <!-- Floating text -->
      <a-entity bmfont-text="text:Site Home; color:FFF" position="0 2.3 -0.7" scale="1.5 1.5 0.1" rotation="0 -90 0"></a-entity>
      <!-- Portal -->
      <a-cylinder position="0 0 0" scale="0.01 5 1.7" rotation="0 0 0" material="shader:standard; metalness:0; roughness:1; repeat:2 1; src:#BlogPortal; flatShading:false; opacity:1; transparent:true; side:front; visible:true; fog:true;" 
      href="http://www.nateliason.com"></a-cylinder>
    </a-entity>

    <!-- Articles portal -->
    <a-entity position="0 3.5 4" rotation="0 270 0">
      <!-- Floating text -->
      <a-entity bmfont-text="text:Blog Articles; color:FFF" position="0 2.3 -0.9" scale="1.5 1.5 0.1" rotation="0 -90 0"></a-entity>
      <!-- Portal -->
      <a-cylinder position="0 0 0" scale="0.01 5 1.7" rotation="0 0 0" material="shader:standard; metalness:0; roughness:1; repeat:2 1; src:#ArticlesPortal; flatShading:false; opacity:1; transparent:true; side:front; visible:true; fog:true;" 
      href="/posts/"></a-cylinder>
    </a-entity>

    <!-- Lessons portal -->
    <a-entity position="-4 3.5 0" rotation="0 180 0">
      <!-- Floating text -->
      <a-entity bmfont-text="text:Book Lessons; color:FFF" position="0 2.3 -0.9" scale="1.5 1.5 0.1" rotation="0 -90 0"></a-entity>
      <!-- Portal -->
      <a-cylinder position="0 0 0" scale="0.01 5 1.7" rotation="0 0 0" material="shader:standard; metalness:0; roughness:1; repeat:2 1; src:#LessonsPortal; flatShading:false; opacity:1; transparent:true; side:front; visible:true; fog:true;" href="/lessons/" geometry=""></a-cylinder>
    </a-entity>

  </a-entity>

  <a-ocean width="200" depth="200" density="40" opacity="1" position="0 -0.4 0"></a-ocean>

  <a-sky src="#sky" position="0 -200 0"></a-sky> <!-- Thank you http://www.digitalafter.com/ for the sky! -->

  <a-light name="AmbientLight" type="ambient" color="#363942" intensity="1" position="0 2 0"></a-light>
  <a-light name="Centerlight" type="point" color="#FFFFFF" intensity=".8" position="0 10 0"></a-light>

</a-scene>