<a-scene>
  <!-- Scene assets -->
  <a-assets>
    <div id="article">
      <%= raw @post.body %>
    </div>

    <%= image_tag("sky1.jpg", :id => "sky") %>
    <%= image_tag("Sand001.jpg", :id => "Sand") %>
  </a-assets>
  
  <!-- Adding a camera that can "click" -->
  <a-entity camera
    universal-controls="movementControls: checkpoint"
    checkpoint-controls="mode: animate"
    position="0 4 0">
    <a-ring radius-outer="0.03" radius-inner="0.02"
      position="0 0 -1"
      material="color: cyan; shader: flat"
      cursor="fuse: true; fuseTimeout: 500">
    </a-ring>
  </a-entity>
  
  <% fullText = @post.body %>
  <% pCount = fullText.scan("</p>").count %>

  <!-- The room for the links -->
  <a-entity position="0 0 0" name="Walkable Area">
    
    <!-- Sandy bottom -->
    <a-sphere position="0 0 0" scale="1 15 15" name="Floor" material="shader:standard;metalness:0;repeat:5 5;src:#Sand" geometry="primitive:sphere" rotation="0 0 90"></a-sphere>

    <!-- The Article -->
    <a-entity id="articleDisplay" geometry="primitive:box" position="0 <%= ((pCount/2) - 6) * -1 %> -2.5" draw="width: 850; height: 11712" scale="3.375 <%= pCount %> .1" htmltexture="asset:#article"></a-entity>

    <!-- The Roof -->
    <a-box position="0 8 0" scale="10 .1 10"></a-box>

    <!-- Move down box -->
    <a-box id="downButton" scale="3.75 2 .1" position="0 2 -2.45" material="opacity:0;" geometry="primitive:box"></a-box>
    <!-- Move up box -->
    <a-box id="upButton" scale="3.75 2 0.1" position="0 7 -2.45" material="opacity:0;" geometry="primitive:box"></a-box>
    
  </a-entity>

  <a-ocean width="200" depth="200" density="40" opacity="1" position="0 -0.4 0"></a-ocean>

  <a-sky src="#sky" position="0 -200 0"></a-sky><!-- Thank you http://www.digitalafter.com/ for the sky! -->

  <a-light name="AmbientLight" type="ambient" color="#363942" intensity="1" position="0 2 0"></a-light>
  <a-light name="Centerlight" type="point" color="#FFFFFF" intensity=".8" position="0 10 0"></a-light>
</a-scene>


<script>
function moveText(amount){
  target = document.querySelector("#articleDisplay");
  targetPosition = target.getAttribute("position");
  stepCount = 0
  var id = setInterval(frame, 5);
  function frame(){
    if (stepCount == 100) {
        clearInterval(id);
    } else {
        stepCount++; 
        target.setAttribute('position',{
          x: targetPosition.x,
          y: targetPosition.y + (amount/100 * stepCount),
          z: targetPosition.z
        });
    };
  };
}

window.onload = function() {
  document.getElementById("downButton").addEventListener("mouseenter", function() {
    moveText(2);
  });
  document.getElementById("upButton").addEventListener("mouseenter", function() {
    moveText(-2);
  });
};

</script>