<!DOCTYPE html>
<html>
<head>
  <title>Bloghouse</title>
  <meta name="description" content="The HOUSE">
  <!-- <meta charset="utf-8"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://aframe.io/releases/0.3.0/aframe.min.js"></script>
  <%= javascript_include_tag "aframe-hyperlinks" %>
  <%= csrf_meta_tags %>
  <script src="https://rawgit.com/bryik/aframe-bmfont-text-component/master/dist/aframe-bmfont-text-component.min.js"></script>
  <script src="https://rawgit.com/scenevr/htmltexture-component/master/dist/aframe-htmltexture-component.min.js"></script>
  <script src="https://rawgit.com/maxkrieger/aframe-draw-component/master/dist/aframe-draw-component.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
